@use '../vars' as *;

.header {

    position: fixed;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    mix-blend-mode: difference;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100000;

    &.on-intro {

        mix-blend-mode: normal;
        pointer-events: none;

    }

    .logo {

        position: relative;
        top: 0px;
        left: 0px;

        transition: top 0.35s ease-in-out 0.2s;

        svg {

            width: 35px;
            height: 50px;

            transition: width 0.35s ease-in-out 0.2s, height 0.35s ease-in-out 0.2s;

            path {
                fill: $blanc;
            }
        }

    }

    .burger {

        opacity: 1;
        transition: opacity 0.1s ease-out 1.5s;
        cursor: pointer;

    }

    &-top {

        width: 35px;
        position: relative;
        transition: width 0.35s ease-in-out 0.2s;
        will-change: auto;

        &.on-intro {

            width: 150px;
            pointer-events: none;

            @include sizeone {

                width: 98px;

            }

            .logo {

                top: calc(50vh - 107px - 30px);

                @include sizeone {

                    top: calc((50 * var(--vh)) - 70px - 30px);

                }

                svg {

                    width: 150px;
                    height: 214px;

                    @include sizeone {

                        width: 98px;
                        height: 140px;

                    }
                }

            }

            .burger {

                opacity: 0;

            }

        }

    }

    button {

        border: 0px solid transparent;
        background-color: transparent;
        width: 12px;
        height: 27px;
        position: absolute;
        padding: 0px;
        top: 11px;
        right: -60px;
        cursor: pointer;

        .circle {

            width: 3px;
            height: 3px;
            margin: 4px;
            border-radius: 3px;
            background-color: $blanc;

        }

    }

    .nav {

        // position: absolute;
        color: $blanc;
        transition: opacity 0.3s ease-out;

        &.on-intro-nav {


            opacity: 0 !important;
            // background-color: red;
            pointer-events: none;

        }

        ul {

            display: flex;

            li {

                padding: calc(36px / 2);

            }

        }
    }

    &.on-intro {

        .nav {

            display: none;

        }

    }
}